name: Commitlint

on:
  pull_request:
    branches:
      - main

jobs:
  branch-name:
    uses: nullplatform/actions-nullplatform/.github/workflows/branch-validation.yml@main

  commitlint:
    uses: nullplatform/actions-nullplatform/.github/workflows/conventional-commit.yml@main
