name: Release Please

on:
  push:
    branches:
      - main

concurrency:
  group: main-branch-push
  cancel-in-progress: false

jobs:
  release:
    uses: nullplatform/actions-nullplatform/.github/workflows/release.yml@main
    permissions:
      contents: write
      pull-requests: write
